body {
	color: #7d7987;
	text-align: center;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 200% */
	margin: 0;
}

.padding-vertical-large {
	height: 72px;
}

.padding-vertical-medium {
	height: 12px;
}

#hero {
	width: 592px;
	margin: auto;
}

h1 {
	color: black;
	font-family: 'Inter', sans-serif;
	font-size: 49px;
	font-style: normal;
	font-weight: 400;
	line-height: 56px;
}

h1 span {
	color: orange;
	font-weight: 700;
}

span {
	color: orange;
}

a {
	color: #f90;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 200% */
}

footer a + a {
	margin-left: 20px;
}

img.balls {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
